<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
<connectionStrings><add name="PokemonEntities" connectionString="metadata=res://*/PokemonDataModel.csdl|res://*/PokemonDataModel.ssdl|res://*/PokemonDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Pokemon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/><add name="PokemonEntities1" connectionString="metadata=res://*/PokemonData.csdl|res://*/PokemonData.ssdl|res://*/PokemonData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Pokemon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings></configuration>
